*{
  box-sizing:border-box;
}
html, body{
  height:100%;
}
body{
  background: rgb(118,16,173);
  background: linear-gradient(180deg, rgba(118,16,173,1) 0%, rgba(30,156,229,1) 72%, rgba(0,249,255,1) 100%);

  margin:0%;
}
a{
  text-decoration: none;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 80px 0 0 0;
    max-width: 360px;
    padding: 20px;
    z-index: 0;
    position:absolute;
    top:120px;
    right:0;
  }
  
  .container {
    z-index: 1;
    margin: 10px 0;
  }
  .profile {
    border-radius: 50%;
    clear: right;
    float: right;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
  }
  /*
Typography
*/
h1,
p {
  color: #a531e3;
  font-family: sans-serif;
  margin-bottom: 22px;
  font-family: 'Teko', sans-serif;
}
h1 {
  text-shadow: 2px 2px #000000;
  float: left;
  font-size: 1em;
  font-family: "crete Round", sangs-serif;
}
p {
  clear: both;
  color: #7189ed;
  font-size: 14px;
  line-height: 22px;
}
/*
Footer
*/
footer a {
  color: #ffffff;
}
i {
  margin-right: 30px;
  font-size: 30px;
}
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks{
   padding:30px;
   position:absolute;
   bottom:0;
}
.bookmarks a{
   font-size:20px;
   margin:20px 20px;
   color:#1c6af0;
   transition:.1s;
   vertical-align: bottom;
   
}
.bookmarks a:hover{
   font-size:27px;
   position:relative;
}
/*
No longer bookmarks
*/
#clock{
    position:absolute;
    bottom:10px;
    right:10px;
    font-size: 2em;
    font-family: 'Audiowide', cursive; 
}

/*
No longer bookmarks
*/
form{
  width:100%;
  max-width:600px;
  margin:0 auto;
  
  
}
input{
  width:100%;
  font-size:20px;
  padding:20px;
  margin:5px 0;
  float:middle;
  border:none;
  outline:none;
  color:darkorchid;
  font-family: 'Teko', cursive; 
}
.search-bar{
  width:100%;
  margin-top:150px;
}
.submit-button{
  width:100%;
}
.chess{
  margin-top:100px;
  text-align:center;
}
#csoPvc{
opacity:0.5;
transition:.2s;
}
#csoPvc:hover{
  opacity:1;
}
@media only screen and (max-width:900px){
  .wrapper{
    background-color: rgba(0, 0, 0, 0.5);
  float: right;
  margin: 80px 0 0 0;
  max-width: 240px;
  padding: 20px;
  z-index: 0;
  }
}
@media only screen and (max-width:800px){
  .wrapper{
    background-color: rgba(0, 0, 0, 0.5);
  float: right;
  margin: 60px 0 0 0;
  max-width: 240px;
  max-height:200px;
  padding: 20px;
  z-index: 0;
  }
}
@media only screen and (max-width:800px){
  #csoPvc{
    opacity:0.5;
    transition:.2s;
}
#csoPvc:hover{
  opacity:1;
}
}